In [3]:
import pandas as pd
from surprise import dump

In [4]:
loaded_model = dump.load('svd_model.pkl')

In [9]:
svd_model = loaded_model[1]

In [6]:
movielens=pd.read_csv('movielens.csv')

In [8]:
movielens.head()

,user_id,movie_id,rating,timestamp,title,genre
0,5755,184,3,958280246,Nadja (1994),Drama
1,4585,519,3,964321944,Robocop 3 (1993),Sci-Fi|Thriller
2,1503,3114,4,974762175,Toy Story 2 (1999),Animation|Children's|Comedy
3,2166,648,4,974614593,Mission: Impossible (1996),Action|Adventure|Mystery
4,3201,2178,5,968626301,Frenzy (1972),Thriller

In [12]:
def get_recommendations(data, user_id, top_n, algo):
   
    # creating an empty list to store the recommended product ids
    recommendations = []
    print(user_id)
    # creating an user item interactions matrix 
    user_movie_interactions_matrix = data.pivot(index='user_id', columns='title', values='rating')
    print(user_movie_interactions_matrix.shape)
    # extracting those product names which the user_id has not interacted yet
    #non_interacted_movies = user_movie_interactions_matrix.loc[user_id][user_movie_interactions_matrix.loc[user_id].isnull()].index.tolist()
    rated_movies = set(data[data['user_id'] == user_id]['title'])
    all_movies = set(data['title'])
    unrated_movies = list(all_movies - rated_movies)
    # looping through each of the product names which user_id has not interacted yet
    for item_name in unrated_movies:
        
        # predicting the ratings for those non interacted product ids by this user
        est = algo.predict(user_id, item_name).est
        
        # appending the predicted ratings
        #movie_name = movies[movies['movie_id']==str(item_id)]['title'].values[0]
        recommendations.append((item_name, est))
    # sorting the predicted ratings in descending order
    recommendations.sort(key=lambda x: x[1], reverse=True)
    #print(recommendations)

    return recommendations[:top_n]

In [13]:
get_recommendations(movielens,2166,5,svd_model)

2166
(6040, 3706)

[('Pulp Fiction (1994)', 5),
 ('GoodFellas (1990)', 4.931649461333511),
 ('Tombstone (1993)', 4.802853162571019),
 ('Forrest Gump (1994)', 4.801575841506107),
 ('Palm Beach Story, The (1942)', 4.793447538982498)]

In [14]:
get_recommendations(movielens,3201,5,svd_model)

3201
(6040, 3706)

[('Saving Private Ryan (1998)', 5),
 ('Yojimbo (1961)', 5),
 ('Silence of the Lambs, The (1991)', 5),
 ('Paths of Glory (1957)', 5),
 ('Raiders of the Lost Ark (1981)', 5)]